@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Space+Mono&display=swap');

.wallet{
    display: flex;
    flex-direction: column;
    margin-bottom: 420px;
}

.target {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 300px;
    gap: 12px;
}

input {
    width: 600px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    padding: 5px 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    font-family: 'Source Code Pro', monospace;
    width: 600px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    size: 40px;
}

.sendButton {
    width: 100px;
    height: 40px;
    margin-top: 9px;
}

.sendButton:focus {
    width: 100px;
    height: 40px;
    margin-top: 9px;
}


